<% include ./partials/header %>

<div class='ui main text container'>
	<br><br>
	<div class="ui huge header">
		<h2>FilemetaDataMicroservice</h2>
	</div>
	<div class='ui top attached segment'>
		<blockquote>
                User stories:
                <ul>1) I can submit a FormData object that includes a file upload.</ul>
                <ul>2) When I submit something, I will receive the file size in bytes within the JSON response.</ul>
                <ul>3) You may want to use this package: https://www.npmjs.com/package/multer.</ul>
            </blockquote>

    <footer class="ui header">@KaranRawat 2016</footer>
</div>



<% include ./partials/footer %>
