<% include ./partials/header %>
<br><br><br><br>
<div class='ui main text container segment'>
    <div class='ui huge header'>Check New File</div>
    <form class='ui form' action='/home/fileSize' method='POST' enctype="multipart/form-data">
        <div class='field'>
        	<label>Select File</label>
        	<input type='file' name='file'></input>
        </div>
    	<input class='ui green basic button' type="submit"></input>
    </form>
</div>

<% include ./partials/footer %>
